body {
    background-color: black;
}
* {
    color: white;
}
.board {
    text-align: center;
    margin-top: 20%;
}
.square {
    height: 70px;
    width: 70px;
    border: 2px solid white;
    display: inline-block;
}
